header{
    
        background-image:linear-gradient(to left, black,white, black) ;
        width: 100%;
        text-align: center;
        color: black;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
        font-weight: bold;
        box-sizing: content-box;
        width:100%;
       .logo{
    
        width: 150px;
        height: 150px;
    
        }
    
    
    }
    
    

    