*{
    box-sizing: border-box;
    margin: 0%;
   
}
body{


}

.container{
    background-image:linear-gradient(to left, black,white, black) ;
   text-align: center;
   

}/*img de home*/
.carousel-inner{
    padding: 50px;s
}
    

#navbarNav{
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    width: 100px;
}
/*nosotros*/

header{
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    background-color: rgb(150, 148, 148);
    box-sizing: content-box;
  padding: 20px;
}

#Contactanos{
    background-color: rgb(150, 148, 148);
    font-family: 'Josefin Sans', sans-serif;
    padding: 50px;
   display: flex;
   justify-content: space-around;
   text-align: center;
   
   
}
 

   /* servicio*/ 
section{
    background-color: rgb(150, 148, 148);
    height: 600px;
    display: flex;
    justify-content: space-around;
  

}
.img-servis{
   margin-top:90px ;
   display: flex;
   

}


.caja1{
    background-color: black;
    color: rgb(61, 61, 65);
  border-radius: 5px;
    border-style: solid ;
    margin-top: 30px;
    width: 350px;
    height: 200px;
    font-family: 'Josefin Sans', sans-serif; 
    text-align: center;
    font-weight: bold;
    padding: 20px;
    box-shadow: black 5px 5px 5px;
}

.caja2{
    background-color:black;
    color: rgb(61, 61, 65);
    border-radius: 5px;
    border-style: solid;
    margin-top: 300px;
    
    width: 350px;
    height: 200px;
    font-family: 'Josefin Sans', sans-serif; 
    text-align: center;
    font-weight: bold;
    padding: 20px;
    box-shadow: black 5px 5px 5px;
}
.caja3{
    background-color: black;
    color: rgb(61, 61, 65);
    border-radius: 5px;
    border-style: solid;
    margin-top: 30px;
   margin-right: 50px;
    width: 350px;
    height: 200px;
    font-family: 'Josefin Sans', sans-serif; 
    text-align: center;
    font-weight: bold;
    padding: 20px;
    box-shadow: black 9px 9px 9px;
}




.caja1:hover{
    box-shadow: white 9px 9px 9px;
    height: 250px;
    width: 400px;
    color: white;

}
.caja2:hover{
    box-shadow: white 9px 9px 9px;
    height: 250px;
    width: 400px;
    color: white;
}
.caja3:hover{
    box-shadow: white 9px 9px 9px;
    height: 250px;
    width: 400px;
    color: white;

}
footer{
    background-color: black;
    height:90px;
  padding: auto;
   
}
.redes{
   
    display: flex;
    justify-content:space-between;
    width: 90px;
    height: 90px;
    padding: 10px;
}
.redes p{
    font-family: 'Josefin Sans', sans-serif; 
    color: white;
    padding: 20px;
}