footer{
    background-color: black;
   width: 100%;
   .redes{
      display: flex;
      justify-content:space-between;
      width: 90px;
      height: 90px;
      font-family: 'Josefin Sans', sans-serif; 
      color: white;
      text-align: center;
     padding: 20px;
    p{
      margin: auto;
    }


    }
  
    
   
}